body {
    margin: 0;
    padding: 0;
}

#TopMenu {
    padding-left: 28px;
    padding-right: 28px;
    border-bottom: 1px solid #CFCFCF;
}

#MenuLateral {
    padding-left: 24px;
    padding-top: 24px;
    height: 100vh;
    width: 300px;
    border-right: 1px solid #CFCFCF;
    background-color: white;
}

span {
    color: #7C80DE;
    font-size: 14px;
}

#LinkItem {
    color: #302640;
    font-weight: 600;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding-left: 14px;

}
#LinkItem:hover{
    background-color: #F1F5F9;
}

header {
    margin: 48px;
    border-radius: 16px;
    background-color: white;
}

main{
    background-color: #7C80DE;
}

#Screen {
    background-color: #F1F5F9;
    width: 100vw;
    padding: 24px;
}
