@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 238 58% 95%;
    --foreground: 238 5% 0%;
    --card: 238 50% 90%;
    --card-foreground: 238 5% 10%;
    --popover: 238 58% 95%;
    --popover-foreground: 238 95% 0%;
    --primary: 238 59.8% 67.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 238 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 200 30% 85%;
    --muted-foreground: 238 5% 35%;
    --accent: 200 30% 80%;
    --accent-foreground: 238 5% 10%;
    --destructive: 0 58% 30%;
    --destructive-foreground: 238 5% 90%;
    --border: 238 30% 50%;
    --input: 238 30% 18%;
    --ring: 238 59.8% 67.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 238 50% 5%;
    --foreground: 238 5% 90%;
    --card: 238 50% 0%;
    --card-foreground: 238 5% 90%;
    --popover: 238 50% 5%;
    --popover-foreground: 238 5% 90%;
    --primary: 238 59.8% 67.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 238 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 30% 15%;
    --muted-foreground: 238 5% 60%;
    --accent: 200 30% 15%;
    --accent-foreground: 238 5% 90%;
    --destructive: 0 58% 30%;
    --destructive-foreground: 238 5% 90%;
    --border: 238 30% 18%;
    --input: 238 30% 18%;
    --ring: 238 59.8% 67.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
